body{
    background-color: black;
}
.col{
    background-color: black;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
.nav-link{
color: purple
}
p{
    color: white
}
a{
    font-family:'Gemunu Libre', sans-serif;
}
h1{
    color: lightpurple
}
